extend layout
block content
    .wrapper.fadeInDown
        #formContent
            .fadeIn.first.logindiv
                img#icon(src="https://i.imgur.com/yyVshsp.png", alt="User Icon")
                h1#formTitle Log In
            form
                input#emailLog.fadeIn.second(type="text", name="login", placeholder="email")
                input#passwordLog.fadeIn.third(type="password", name="login", placeholder="password")
                input.fadeIn.fourth(type="submit", value="Log In", onclick="authenticate()")
            #errorFooter
            #formFooter
                a.underlineHover(onclick="changeToRegistrationForm()", href="#") Don't have an account?
    script(src="assets/js/login.js")