extend layout
block content
    header
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.deskNav
            a.navbar-brand(onClick="goToHome()") IT Job
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(onClick="goToHome()") Jobb Sökare
                            span.sr-only (current)
                        a.right.nav-link(href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" onClick="goToAbout()") Om Oss
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.mobileNav
            a.left.nav-link
                i.fas.fa-user.faIcon(onClick="goToProfile()")
            a.center.nav-link
                i.fas.fa-home.faIcon(onClick="goToHome()")
            a.right.nav-link(href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" onClick="goToAbout()") Om Oss
    .map-container.rounded
        #map

       div.infobox#infobox

    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXSFjyi9xZvkCtCqfdfpuiNUR_vQNns84&libraries=geometry,places")
    script(src="../../assets/js/main.js")
    script(src="../../assets/js/login.js")
    script(src="../../assets/js/profile.js")
    