extend layout
block content
    header
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href="#") IT Job
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    li.nav-item.active
                        a.nav-link(href="#") Jobb Sökare
                            span.sr-only (current)
                    .dropdown.show
                        a.right.nav-link.dropdown-toggle(href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Om Oss
                    .dropdown-menu.about-box(aria-labelledby="dropdownMenuLink") Om oss: Vi vill skapa en web app som underlättar för de som arbetar inom IT att hitta ett jobb inom sitt område. Made by Team W.E.I
    button#locationButton.btn.btn-dark Hitta Job
    .map-container.rounded
        #map
    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXSFjyi9xZvkCtCqfdfpuiNUR_vQNns84&libraries=geometry,places")
    script(src="../../assets/js/main.js")
    script(src="../../assets/js/login.js")
    