extend layout
block content
    header
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.deskNav
            a.navbar-brand#dropdownMenuLink(href="#" onClick="goToHome()") IT-Jobb
            button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation" href="#")
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNav
                ul.navbar-nav
                    li.nav-item.active
                        a.right.nav-link(href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" onClick="goToAbout()") Om Oss
            ul.nav.navbar-nav.navbar-right.dropdown
                li.nav-item.active
                    a#dropdownMenuLink.fas.fa-user.faIcon(href="#" data-toggle="collapse" data-target=".dropdown-menu")
                    &nbsp;
                    a.dropdown-toggle#dropdownMenuLink.leftList(href="#" data-toggle="collapse" data-target=".dropdown-menu") Profile
                .dropdown-menu.dropdown-menu-right(aria-labelledby="menu1" onClick="generateDetails()")
                    p#userName.dropdown-item-text
                    .dropdown-divider
                    a.dropdown-item-text(href="#" onClick="goToProfile()") Profile Details
                    button.btn.btn-danger.dropDownLogOut(role="menuitem" type="button" onClick="logOutToken()") Log Out
        nav.navbar.navbar-expand-lg.navbar-light.bg-light.mobileNav
            a.left.nav-link
                i.fas.fa-user.faIcon(onClick="goToProfile()")
            a.right.nav-link
                i.fas.fa-home.faIcon(onClick="goToHome()")
            a.right.nav-link(href="#" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false" onClick="goToAbout()") Om Oss
    .map-container.rounded
        input#mobileSearch(type="text" placeholder="Sök")
        input#pac-input.controls(type="text" placeholder="Sök")
        #map

       div.infobox#infobox
    
    #mobile-indicator

    script(type="text/javascript", src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAXSFjyi9xZvkCtCqfdfpuiNUR_vQNns84&libraries=geometry,places")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js")
    script(src="../../assets/js/main.js")
    script(src="../../assets/js/login.js")
    script(src="../../assets/js/profile.js")
    