#map {
    height: 100%;
    width: 100%;
    float: left;
}

html, body {
    height: 100%;
}

.map-container {
    height: 94.5%;
    min-width: 100%;
    z-index: 1;
    float:left;
}

.infobox{
    width: 95%;
    float: left;
    display: none;
    z-index: 3;
    position: absolute;
    left: 2.5%;
    border: black solid 1px;
    bottom: 0%;
    height: max-content;
    background-color: white;
    text-align: left;
    border-radius: 20px;
    margin: auto;
}

header {
    width: 100%;
}

#locationButton {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.jobdetail {
    overflow: hidden;
    padding: 2%;
    margin: 2%;
    width: 95%;
    border-bottom: 1px black solid;
}

#closebox {
    float: right;
    border-radius: 25px;
    margin-right: 1.8%;
    margin-top: 1.9%;
}
