#map {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: 1px solid black;
    display: none;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.map-container {
    width: 95%;
    height: 95%;
    max-height: 90%;
    float: none;
    margin:auto;
    margin-top: 10px;
}

header {
    width: 100%;
}

#locationButton {
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}

.about-box {
    width: 600px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120ch;
}

#hello{
    border-bottom: 55px;
    border-color: black;
    padding: 0px;
    background-color: black;

}

h1{
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.gm-style-iw{ 
    background-color: brown;
}
